<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeWebAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TimeWebAI.Properties.Settings>
            <setting name="AgentId" serializeAs="String">
                <value>d3a739ec-2d39-40b2-a3ef-c92c372fd016</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
        </TimeWebAI.Properties.Settings>
    </userSettings>
</configuration>